
 <div class="carousel-item">
    <a class="card" tabindex="0" [routerLink]="{ cxRoute: 'product', params: modifiedItem} | cxUrl">
    <cx-media
        [container]="item.images?.['PRIMARY']"
        format="product"
        [alt]="modifiedItem.name ?? ''"
    ></cx-media>
    <h3 class="cx-product-name">
        {{ modifiedItem.name }}
    </h3>
    <h4 class="description">
        {{ modifiedItem.description }}
    </h4>
    <div class="price">
        {{ modifiedItem?.formattedValue }}
    </div>

    </a>
</div>


