@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMjAzMzA1NS1kY2M6WVJiTGxFbkZoSXFIY2tia2Y4T3Y5RW5yck9HcUpDUHo=
always-auth=true

